/* Bootstrap Overrides */
hr {
    border-color: white !important;
}

.title {
    left: 90px;
    position: relative;
    border-left: 2px #e83e8c solid;
    padding-left: 20px;
}

.back-pink {
    background-color: #e83e8c !important;
}

.back-dark {
    background-color: #222 !important;
}

/* Better Container */
.section {
    margin-bottom: 2rem;
    background-color: #303030;
    padding: 15px;
}

@media (min-width: 576px) {
    .section {
        padding: 4rem 2rem;
    }
}

.card-inline {
    width: 18rem;
    margin: 5px;
    display: inline-block;
}

.full-width {
    width: 100%;
}

/* Constant Jumbo padding */
.jumbotron {
    padding: 2rem 1rem !important;
    border-radius: 0 !important;
}

/* Style Custom Elements */
todo-item, todo-list {
    display: block;
}